:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  color: #212121;
  background-color: #ffffff;
}

/* #FFFFFF основной фон */
/* #F5F4FA background для кнопок в портфолио и секция наша команда */
/*  #2F303A background hero и footer*/
/* #757575 текст + тел и емейл */
/* #212121  загаловки + навигация */
/*  #2196F3  синий цвет ссылок
 при фокусе и ховере + цвет фона кнопок*/
/* #FFFFFF  цвет текста на темных тонах */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */
/* logo */

.logo {
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

/* Navigation */

.site-nav .link {
  color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* Contacts */

.contact-list .link {
  color: var(--primary-text-color);
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--accent-color);
}
